<section class="login">
  <h2>Login</h2>
  <article>
    <%= render "form.html", changeset: @changeset,
                            action: login_path(@conn, :authenticate_login) %>
  </article>

  <aside></aside>

  <article>
    <%= link "Back", to: root_path(@conn, :index) %>
  </article>
</section>
