<!DOCTYPE html>
<html lang="en">
  <head>
    <link href='http://fonts.googleapis.com/css?family=Nothing+You+Could+Do' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Preview is a starter app built with Phoenix, an Elixir Web Framework. Sass support from the Bourbon family.">
    <meta name="author" content="mutablestate">

    <title>Preview Phoenix!</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/preview.css">
    <link rel="stylesheet" href="/css/flash.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
  </head>

  <body>
    <header>
      <a href="http://phoenixframework.org" target="_blank" class="header-logo" alt="Powered by Phoenix"></a>
    </header>

    <div class="container">
      <div class=<%= flash_class(Flash.get(@conn)) %>>
        <%= flash_message(Flash.get(@conn)) %>
      </div>

      <%= @inner %>
    </div>

    <footer>
    </footer>
  </body>
</html>
