<!DOCTYPE html>
<html lang="en">
  <head>
    <link href='http://fonts.googleapis.com/css?family=Nothing+You+Could+Do' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Preview is a starter app built with Phoenix, an Elixir Web Framework. Sass support from the Bourbon family.">
    <meta name="author" content="mutablestate">

    <title>Preview Phoenix!</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/preview.css">
    <link rel="stylesheet" href="/css/flash.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
  </head>

  <body>
    <header>
      <a href="http://phoenixframework.org" target="_blank" class="header-logo" alt="Powered by Phoenix"></a>
    </header>

    <div class="container">
      <div class=<%= flash_class(Flash.get(@conn)) %>>
        <%= flash_message(Flash.get(@conn)) %>
      </div>

      <%= @inner %>
    </div>

    <footer>
    </footer>
    <a href="https://github.com/mutablestate/preview">
      <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png">
    </a>
  </body>
</html>
