<%= form_for @changeset, @action, [class: "signup"], fn f -> %>
  <label>Register for news and updates</label>
  <%= text_input f, :email, placeholder: "yourname@email.com" %>

  <%= submit "Register" %>
<% end %>
