<section class="page">
  <div class="hero">
    <div class="hero-inner">
      <div class="hero-copy">
        <h1>Preview</h1>
        <p>Phoenix 0.16.0 starter app built using the Elixir Language and the Bourbon family</p>
      </div>
      <%= render Preview.SignupView, "form.html", changeset: @changeset,
                                     action: signup_path(@conn, :create) %>
    </div>
  </div>
  <aside>
    <%= link "Login", to: login_path(@conn, :login) %>
  </aside>
</section>
